*.class
bin/*
doc/*
myDocs/*
.classpath
.project
Arena.comp.csv
count_states.csv
*.lnk
*.idea
*.iml
*.settings
.Rhistory
src/out/production/GBG/*
out/*
*.gamelog
games/Logs/*
logs/*
agents/temp/*

# all JAR files (GBGBatch.jar,...) now moved to jartools/:
jartools/*




#Files not for the public GitHub version
#TODO.docx		-- now in myDocs
#TDNTupleAgt.docx	-- now in myDocs	
#FutureWork.docx	-- now in myDocs
~$*.*
~*.tmp

#Folder with outdated trials for parallelism
src/games/ZweiTausendAchtundVierzig/Parallel/*

agents/theNtuple.txt
# too big (92 MB) for a regular save to GitHub (remember that GitHub has a hard file limit at 100 MB -
# and if such a >100-MB file happens to be in a commit, the commit will fail - and so far there is no other 
# option to reset this than setting up the whole local clone anew again (!!))
agents/2048/fixed TEST eTiles 4 6-Tupels 200k TDNT2.agt.zip
agents/2048/TEST*.agt.zip
agents/2048/TC*.agt.zip
agents/2048/Sarsa*.agt.zip
agents/2048/old
#(the only 2048 agent we have in repos is sample-TDNT2-forGitHub.agt.zip)
agents/Hex/04/old
agents/Hex/05/old
agents/Hex/05/sarsaNT-eps02.agt.zip
agents/Hex/06/old
# too many/too big for a regular save to GitHub
agents/ConnectFour/TCL-EXP-al*.agt.zip
agents/ConnectFour/TCL-EXP-NT3-al50-lam000*.agt.zip
agents/ConnectFour/TCL-EXP-NT3-al50-lam009*.agt.zip
agents/ConnectFour/TCL-EXP-NT3-al50-lam025*.agt.zip
agents/ConnectFour/TCL-*noFA.agt.zip
agents/ConnectFour/mtLambda.agt.zip
# (the only ConnectFour agent we have in repos is TCL-EXP-NT3-al37-lam000-6000k-epsfin0.agt.zip)
agents/Nim3P/N03-S05-ExtraYes/multiTest*.agt.zip
agents/Othello/AAREADME.txt
agents/Othello/TCL3-*noFA*.agt.zip
agents/Othello/TCL3-fixed6_250k-lam05_P4_H001-diff1-FAm.agt.zip
# (the only Othello agent we have in repos is TCL3-fixed6_250k-lam05_P4_H001-FAm.agt.zip)
agents/RubiksCube/tooBigForGit
# (no RubiksCube agents in repos, they are still experimental)
agents/RubiksCube/2x2x2_CSTATE_AT/*test.agt.zip
agents/RubiksCube/2x2x2_STICKER_AT/*test.agt.zip
agents/TicTacToe/test.agt.zip

agents/theNtuple.txt
agents/2048/csv/playStats.csv
agents/ConnectFour/csv/playStats.csv
agents/Othello/csv/playStats.csv
agents/Sim/K6_Player2/csv/playStats.csv
agents/Sim/K6_Player3/csv/playStats.csv
agents/Othello/csv/playStats.csv
agents/Othello/Ntuple_Bericht
agents/TicTacToe/csv/playStats.csv
agents/theNtuple.txt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/bin/
agents/Sim/K6_Player2/csv/playStats.csv
agents/theNtuple.txt
agents/theNtuple.txt
