*.class
bin/*
doc/*
.classpath
.project
Arena.comp.csv
count_states.csv
*.lnk
*.idea
*.iml
*.settings
*.dat
.Rhistory
src/out/production/GBG/*
out/*

src/games/Logs/*
src/logs/*
*.gamelog
games/Logs/*
logs/*
agents/temp/*

#Files not for the public GitHub version
TDNTupleAgt.docx
FutureWork.docx
~$*.*
~*.tmp

#Ordner mit veralteten Versuchen zur Parallelität
src/games/ZweiTausendAchtundVierzig/Parallel/*

# too big (92 MB) for a regular save to GitHub
agents/2048/fixed 4 6-Tupels*.agt.zip
agents/2048/fixed 4 6-Tupels 100k TDNT2 afterState.agt.zip
agents/2048/fixed TEST eTiles 4 6-Tupels 200k TDNT2.agt.zip
agents/2048/TEST*.agt.zip
agents/2048/TC*.agt.zip
agents/Hex/05/TEST*.agt.zip

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
