*.class
bin/*
doc/*
.classpath
.project
Arena.comp.csv
count_states.csv
*.lnk
*.idea
*.iml
*.settings
.Rhistory
src/out/production/GBG/*
out/*

src/games/Logs/*
src/logs/*
*.gamelog
games/Logs/*
logs/*
agents/temp/*

#Files not for the public GitHub version
TDNTupleAgt.docx
FutureWork.docx
~$*.*
~*.tmp

#Folder with outdated trials for parallelism
src/games/ZweiTausendAchtundVierzig/Parallel/*

# too big (92 MB) for a regular save to GitHub (remember that GitHub has a hard file limit at 100 MB -
# and if such a >100-MB file happens to be in a commit, the commit will fail - and so far there is no other 
# option to reset this than setting up the whole local clone anew again (!!))
agents/2048/fixed TEST eTiles 4 6-Tupels 200k TDNT2.agt.zip
agents/2048/TEST*.agt.zip
agents/2048/TC*.agt.zip
agents/2048/old
#(the only 2048 agent we have in repos is sample-TDNT2-forGitHub.agt.zip)
agents/Hex/04/old
agents/Hex/05/old
agents/Hex/05/sarsaNT-eps02.agt.zip
agents/Hex/06/old
# too many for a regular save to GitHub
agents/ConnectFour/firstTD*.agt.zip
agents/ConnectFour/experiment
agents/ConnectFour/old
agents/ConnectFour/old2D
agents/ConnectFour/TDNT*.agt.zip
agents/ConnectFour/TCL-EXP-al*.agt.zip
agents/ConnectFour/TCL-EXP-NT3-al50-lam025-500k-HOR001.agt.zip
agents/ConnectFour/TCL-EXP-NT3-al50-lam025-500k-HOR001-T.agt.zip
agents/ConnectFour/TCL-EXP-NT3-al50-lam025-500k-HOR001-T-epsfin0-V2.agt.zip
# (the only ConnectFour agent we have in repos is TCL-EXP-NT3-al50-lam025-500k-HOR001-T-epsfin0.agt.zip)
agents/RubiksCube/tooBigForGit
# (no RubiksCube agents in repos, they are still experimental)

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/bin/
